.AdCrd_body{

}
.AdCrd_Container{
    box-shadow: 0 1px 3px 0 rgb(0 47 52 / 20%),0 1px 3px 0 rgb(0 47 52 / 20%);
    display: flex;
    border-radius: 5px;
    /* overflow: hidden; */
    margin: 20px 0;
    cursor: pointer;
    height: 140px;
}
.AdCrd_5thdrpdwn{
    background-color:white;
    position: absolute;
    top: 4px;
    right: -5px;
    z-index: 5;
    box-shadow: 1px 6px 4px rgba(14,4,5,.2),-2px 0px 4px rgba(14,4,5,.2);
    display: none;
}
#AdCrd_5thdrpdwnBtn1{
    border: none;
    width:200px;
    height: 40px;
    margin: 5px 15px;

}
#AdCrd_5thdrpdwnBtn2{
    border: none;
    width:200px;
    height: 40px;
    margin: 5px 15px;
}
#AdCrd_5thdrpdwnBtn2:hover,#AdCrd_5thdrpdwnBtn1:hover{
    background-color:#c8f8f6;;
}
.AdCrd_left{
    width: 120px;
    height: 140px;
    background-color: #ebeeef;
    border-left: 5px solid  #23e5db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-size: 12px;
    color: #002f34;
}
.AdCrd_right{
    width: 90%;
    position: relative;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.AdCrd_rghtFst{
    border-bottom: 1px solid rgba(14,4,5,.2);;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
  
}
.AdCrd_image img{
    width: 70px;
}
.AdCrd_2nd{
    margin-left: 20px;
    width: 25%;
}
.AdCrd_2nd :nth-child(1){
    font-weight: 600;
    font-size: 12px;
}
.AdCrd_2nd :nth-child(2){
    font-size: 12px;
}
.AdCrd_image{
    overflow: hidden;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
}
#AdCrd_rghtScndBtn{
    
    width: 120px;
    height: 30px;
    background-color: aqua;
    border-radius: 5px;
    margin: 0;
    
}
#AdCrd_button{
    width: 120px;
    height: 40px;
    background-color: #23e5db;;
    border-radius: 10px;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    
}
.AdCrd_3rd{
    margin-left: 60px;
    margin-right: 60px;
    color: #002f34;
    width: 10%;
}
.AdCrd_4th{
    margin-left: 50px;
    color: #002f34; 
    font-size: 14px;
    cursor: pointer;
    line-height: 1.5;
    
}

.AdCrd_rghtScnd{
    display: flex;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}
.AdCrd_rghtScnddv {
    display: flex;
    gap: 10px;
    
   
}
.AdCrd_rghtScnddv span:nth-child(1){
    display: flex;
    align-items: center;
    gap: 5px; 

}
.AdCrd_rghtScnddv span:nth-child(2){
    display: flex;
    align-items: center;
    gap: 5px; 
    height: 20px;
    padding-left: 10px;
    border-left: 1px solid black;
    margin-left: 10px;
}
.AdCrd_rghtScnd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AdCrd_5th{
    width: 28px;
    height: 45px;
    border: 2px solid #002f34;
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.AdCrd_5thInner{
    border-right: 2px solid #002f34;
    transform: translateX(5px);
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 22px;
    height: 30px;
}
.AdCrd_5thInner span{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #002f34;
    display: inline-block;

   
}

@media (max-width:800px){
    #AdCrd_5thdrpdwnBtn1{
        border: none;
        width:100px;
        height: 20px;
        margin: 5px 15px;
    
    }
    .AdCrd_Container{
        
    }
    
    #AdCrd_5thdrpdwnBtn2{
        border: none;
        width:100px;
        height: 20px;
        margin: 5px 15px;
    }
    .AdCrd_left{
        width: 60px;
        height: 100%;
        padding-left: 5px;
    }
    .AdCrd_image img{
        width: 25px;
    }
    .AdCrd_image{
        height: 25px;
        width: 25px;
    }
    #AdCrd_rghtScndBtn{
    
        width: 60px;
        height: 15px;
        background-color: aqua;
        border-radius: 5px;
        margin: 0;
        
    }
    #AdCrd_button{
        display: none;   
    }
    .AdCrd_3rd{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
    }
    .AdCrd_4th{
        display: none;   
    }
    .AdCrd_right{
        width: 90%;
        padding-left: 10px;
        gap: 2px;
    }
    .AdCrd_5thInner{
        transform: translateX(2.5px);
        gap: 1px;
        width: 11px;
        height: 15px;
    }
    .AdCrd_5thInner span{
        width: 2.5px;
        height: 2.5px;
        border-radius: 50%;
    }
    .AdCrd_5th{
        width: 14px;
        height: 22.5px;
        top: 0;
        right: 4px;
        border-radius: 2.5px;
    }

 }